<div class="container">
  <div class="travel-options">
    <table class="table table-striped-bkp table-borderless">
      <thead>
      <tr>
        <th>Source</th>
        <th>Destination</th>
        <th>Comments</th>
        <th>Action</th>

      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let bus of busArray; let i = index;">
        <td>
          <input [(ngModel)]="bus.source" class="form-control" type="text"/>
        </td>
        <td>
          <input [(ngModel)]="bus.destination" class="form-control" type="text"/>
        </td>
        <td>
          <input [(ngModel)]="bus.comment" class="form-control" type="text"/>
        </td>
        <td>
          <i (click)="deleteRow(i)" class="material-icons">delete</i>
          <i (click)="addRow(i)" class="material-icons">add</i>
        </td>
      </tr>
      </tbody>
    </table>

  </div>
</div>
