.travel-options {
  /*margin: 0 20%;*/
  display: block;
}

.button-group {
  display: block;
}

.next-button {
  float: right;
  display: block;
}
.project-detail{
  display: flex;
  justify-content: center;
}

