<div class="container">
  <div class="travel-options">

    <div class="visaType">
      <h5>What type of Visa request would you like to create?</h5>
      <div class="radio-group">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" [(ngModel)]="visaNew" name="inlineRadioOptions" id="inlineRadio1"
                 value="new">
          <label class="form-check-label" for="inlineRadio1">New Visa</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" [(ngModel)]="visaNew" name="inlineRadioOptions" id="inlineRadio2"
                 value="existing">
          <label class="form-check-label" for="inlineRadio2">Existing Visa</label>
        </div>
      </div>
    </div>


    <form *ngIf="visaNew === 'existing'">
      <div class="form-group">
        <label for="exampleFormControlFile1">Upload Existing Visa Scan copy</label>
        <input type="file" class="form-control-file" id="exampleFormControlFile1">
      </div>
    </form>

    <table *ngIf="visaNew === 'new'" class="table table-striped-bkp table-borderless">
      <thead>
      <tr>
        <th>Country</th>
        <th>Visa Type</th>
        <th>Entry Type</th>
        <th>Comment</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let visa of visaArray; let i = index;">
        <td>
          <input [(ngModel)]="visa.country" class="form-control" type="text"/>
        </td>
        <td>
          <select class="form-control" id="visaType" [(ngModel)]="visa.visaType">
            <option>Business Visa</option>
            <option>WorkPermit Visa</option>
            <option>Tourist Visa</option>
          </select>
        <td>
          <select class="form-control" id="entryType" [(ngModel)]="visa.entryType">
            <option>Single Entry</option>
            <option>Multiple Entry</option>
          </select>
        </td>
        <td>
          <input [(ngModel)]="visa.comment" class="form-control" type="text"/>
        </td>
        <td>
          <i (click)="deleteRow(i)" class="material-icons">delete</i>
          <i (click)="addRow(i)" class="material-icons">add</i>

        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
