<button type="submit" class="btn btn-success btn-lg" (click)="create()">Create New Request</button>
<table class="table">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Request Id</th>
    <th scope="col">Created By</th>
    <th scope="col">Status</th>
    <th scope="col">Created Date</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let request of requestList; let i = index">
    <th scope="row">{{i + 1}}</th>
    <td (click)="view(request.id)">
      <a>{{request.id}}</a>
    </td>
    <td>{{request.applicant}}</td>
    <td>{{request.status.name}}</td>
    <td>{{request.createdDate | date}}</td>
  </tr>
  </tbody>
</table>
