<div class="container">
  <div class="travel-options">
    <div class="insurance-detail">
      <h5>What type of Insurance request would you like to create?</h5>
      <div class="radio-group">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" [(ngModel)]="insuranceNew" name="inlineRadioOptions"
                 id="inlineRadio1" value="new">
          <label class="form-check-label" for="inlineRadio1">Need New Insurance</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" [(ngModel)]="insuranceNew" name="inlineRadioOptions"
                 id="inlineRadio2" value="existing">
          <label class="form-check-label" for="inlineRadio2">Modify Existing Insurance</label>
        </div>
      </div>
    </div>

    <form *ngIf="insuranceNew === 'existing'">
      <div class="form-group">
        <label for="exampleFormControlTextarea1">Existing Insurance</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
    </form>

    <table *ngIf="insuranceNew === 'new'" class="table table-striped-bkp table-borderless">
      <thead>
      <tr>
        <th>Country</th>
        <th>Comment</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let insurance of insuranceArray; let i = index;">
        <td>
          <input [(ngModel)]="insurance.country" class="form-control" type="text"/>
        </td>
        <td>
          <input [(ngModel)]="insurance.comment" class="form-control" type="text"/>
        </td>
        <td>
          <i (click)="deleteRow(i)" class="material-icons">delete</i>
          <i (click)="addRow(i)" class="material-icons">add</i>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
