.travel-options {
  margin-top: 10%;
}
.project-detail{
  display: flex;
  justify-content: center;
}
.insurance-detail{
  margin-bottom: 2%;
}
.material-icons{
  font-size: 22px;
  cursor: pointer;
  vertical-align: middle;
}
table{
  box-shadow: none;
}
