<div class="steps">
  <div *ngFor="let wizard of wizards.default">
    <div
      [ngClass]="{ 'step-visited': visitedWizards.indexOf(wizard.url) !== -1,
                      'step-active': wizard.url === activeUrl,
                      'hide-visa': wizard.url === 'visaDetails' && !isInternational,
                      'hide-insurance': wizard.url === 'insuranceDetails' && !isInternational}"
         class="step">
      <div class="step-header" (click)="navigate(wizard.url)">
        <div class="header">{{wizard.title}}</div>
      </div>
    </div>
  </div>

</div>
