<div class="container">
  <div class="travel-options">

    <table class="table table-striped-bkp table-borderless">
      <thead>
      <tr>
        <th>Location</th>
        <th>Check-In</th>
        <th>Check-Out</th>
        <th>Comment</th>
        <th>Action</th>

      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let hotel of hotelArray; let i = index;">
        <td>
          <input [(ngModel)]="hotel.location" class="form-control" type="text"/>
        </td>
        <td>
          <input [(ngModel)]="hotel.checkinDate" type="date" name="checkin" max="3000-12-31"
                 min="1000-01-01" class="form-control"></td>
        <td>
          <input [(ngModel)]="hotel.checkoutDate" type="date" name="checkout" max="3000-12-31"
                 min="1000-01-01" class="form-control">
        </td>
        <td>
          <input [(ngModel)]="hotel.comment" class="form-control" type="text"/>
        </td>
        <td>
          <i (click)="deleteRow(i)" class="material-icons">delete</i>
          <i (click)="addRow(i)" class="material-icons">add</i>
        </td>
      </tr>
      </tbody>
    </table>

  </div>
</div>
